button{
    width: 100px;
    height: 40px;
    border: 2px solid blue;
    border-radius: 9px;
    text-align: center;
    display: flex;
    justify-content: center;
    background: #000;
    color: #fff;
    padding: 0px 10px;
    margin-top: 5rem;
    margin-left: 13rem;
    cursor: pointer;
    h2{
        margin-top: 0.4rem;
    }

   
}

ul{
    list-style: none;
    cursor: pointer;
   
    li{
        font-size: 23px;
         letter-spacing: 3px;
         display: flex;
         justify-content: space-between;
    }
}
