*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.todo{
   width: 500px;
   height: 500px;
   border: 2px solid black;
   margin-top: 9rem;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
   .list{
    text-align: center;
    margin-top: 2rem;
    line-height: 2;
    ul{
        list-style: none;
        cursor: pointer;
        li{
            font-size: 23px;
        }
    }
   }
}